:root {
  --colors--pure-electric-blue: #0900ff;
  --colors--neon-yellow-green: #df0;
  --colors--black: black;
  --spark-library--foreground-interactive: #5532fa;
  --colors--electric-blue: #01f;
  --colors--white: white;
  --colors--black-pearl: #0f1213;
  --flowstica-webflow-library--black: #010b15;
  --colors--light-gray: #e3e3e3;
  --colors--electric-lime: #d2ff0c;
  --colors--medium-gray: #666;
  --spark-library--black: black;
  --spark-library--background--interactive: #f0ecfd;
  --spark-library--white: white;
  --spark-library--foreground-interactive-hover: #1e116e;
  --spark-library--light-steel-purple: #a695fb;
  --relume-library-lite--rl-white: white;
  --relume-library-lite--rl-black: black;
  --spark-library--border-default: rgba(0, 0, 0, 0.16);
  --spark-library--foreground-secondary: rgba(0, 0, 0, 0.76);
  --elements-webflow-library--neutral--800: #211f54;
  --elements-webflow-library--neutral--600: #6e7191;
  --elements-webflow-library--accent--primary-1: #4a3aff;
  --elements-webflow-library--neutral--100: white;
  --elements-webflow-library--secondary--color-1: #281ca5;
  --elements-webflow-library--neutral--300: #eff0f6;
  --elements-webflow-library--general--shadow-04: rgba(20, 20, 43, 0.14);
  --elements-webflow-library--neutral--200: #f7f7fc;
  --elements-webflow-library--general--shadow-01: rgba(20, 20, 43, 0.06);
  --elements-webflow-library--general--shadow-02: rgba(20, 20, 43, 0.08);
  --elements-webflow-library--neutral--400: #dcddeb;
  --elements-webflow-library--general--shadow-03: rgba(20, 20, 43, 0.1);
  --elements-webflow-library--neutral--500: #a0a3bd;
  --kütüp-library--dark-slate-grey: #264653;
  --kütüp-library--dim-grey: #6e6e6e;
  --kütüp-library--burntsienna: #e76f51;
  --kütüp-library--dark-slate-grey-x: #2e5261;
  --flowstica-webflow-library--medium-sea-green: #08b54f;
  --conversion-flow-library--light-coral: #ff5e69;
  --conversion-flow-library--medium-purple: #b16cea;
  --conversion-flow-library--coral: #ff8a56;
  --conversion-flow-library--sandy-brown: #ffa84b;
  --walsh--black: #2c2c2c;
  --elements-webflow-library--neutral--700: #4a4566;
  --spark-library--foreground-tertiary: rgba(0, 0, 0, 0.56);
  --elements-webflow-library--secondary--color-2: #f2f1ff;
  --relume-library-lite--rl-gray: #f4f4f4;
  --untitled-ui--primary600: #7f56d9;
  --untitled-ui--primary700: #6941c6;
  --untitled-ui--gray400: #98a2b3;
  --untitled-ui--primary50: #f9f5ff;
  --untitled-ui--gray700: #344054;
  --untitled-ui--gray50-2: #f9fafb;
  --untitled-ui--gray100: #f2f4f7;
  --untitled-ui--primary300: #d6bbfb;
  --untitled-ui--primary800: #53389e;
  --untitled-ui--gray900: #101828;
  --untitled-ui--gray300: #d0d5dd;
  --untitled-ui--white: white;
  --untitled-ui--primary100: #f4ebff;
  --untitled-ui--gray800: #1d2939;
  --untitled-ui--gray600: #475467;
  --untitled-ui--gray500: #667085;
  --untitled-ui--gray200: #eaecf0;
  --untitled-ui--pink700: #c11574;
  --untitled-ui--pink50: #fdf2fa;
  --untitled-ui--indigo700: #3538cd;
  --untitled-ui--indigo50: #eef4ff;
  --spark-library--foreground-disabled: #98a1b3;
  --colors--neon-green: #39ff6e;
  --colors--color: white;
  --colors--olive-green: #7e9907;
  --colors--electric-lime70: hsla(71.11111111111111, 100%, 52.35%, 0.7);
  --colors--sun-gold: #ffe70c;
  --colors--yellow-gold: #ffb60c;
  --headers--h1: 64px;
  --headers--h2: 48px;
  --headers--h3: 36px;
  --headers--h4: 24px;
  --headers--h5: 20px;
  --headers--h1-tablet: 44px;
  --headers--h2-tablet: 36px;
  --headers--h3-tablet: 28px;
  --headers--h4-tablet: 22px;
  --headers--h5-tablet: 18px;
  --headers--h1-mobile: 32px;
  --headers--h2-mobile: 28px;
  --headers--h3-mobile: 24px;
  --headers--h4-mobile: 20px;
  --headers--h5-mobile: 18px;
  --spark-library--background--size: 0px;
}
